*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --menu: #683527;
    --bacground: #E67F0D;
    --txt: #EDFFAB;
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: Poppins, sans-serif;
    overflow-x: 0;
}

/* seccion menu  */
#inicio{
    display: flex;
    justify-content: space-around;
    background-color: var(--menu);
    height: 80px;
    align-items: center;
}

 .menu ul li{
    display: inline;
    list-style-type: none;
 }

 .menu a{
    margin-right: 8px;
    text-decoration: none;
    color: gainsboro;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
 }

 .menu a:hover{
    color: #EDFFAB;
    border-bottom: 1px solid var(--txt);
 }

 .logo{
    color: #EDFFAB;
 }

 /* seccion hero  */

.banner{
    display: block;
}
.banner img{
    max-width: 100%;
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 80px 0;
    margin-top: 50px;
    margin-bottom: 80px;
}
.title h2{
    font-size: 2.2em;
}

.title p{
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 15px;
}

.btn{
    width: 200px;
    border: 0;
    border-radius: 35px;
    padding: 8px;
    background-color: #E67F0D;
    transition: transform 0.3s ease-in-out;
}

.btn a{
    text-decoration: none;
    color: aliceblue;
}

.btn:hover{
    transform: scale(1.1);
}

/* seccion sobre nosotros */
#sobrenosotros{
    display: flex;
    align-items: center;
    padding: 25px;
    margin-top: 80px;
    margin-bottom: 180px;
}

#sobrenosotros .img img{
    max-width: 450px;
    height: auto;
    margin-right: 25px;
}

.description{
    flex: 1;
    font-weight: 300;
}

/* seccion menu */
#menu{
    max-width: 100%;
    padding: 25px;
    margin-top: 90px;
    margin-bottom: 100px;
    background-color: rgba(192, 192, 192, 0.623);
}

#menu h3{
    font-size: 1.8em;
    border-bottom: 1px solid black;
}

.menu-section{
    width: 65%;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);

}
.price{
    font-weight: bold;
}

/* seccion contacto */

#contacto{
    margin: 100px auto;

   
    width: 80%;
}
#contacto h3{
    text-align: center;
}
.form fieldset{
    
    padding: 20px;
    border-radius: 0 20px 0 20px;
    box-sizing: border-box;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;



}

label{
    margin-bottom: 5px;
}


input[type="submit"]{
    margin: 5px auto;
    width: 150px;
    padding: 5px 0;
    box-sizing: border-box;
    border: none;
    background-color: #0dbbe6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

input[type="text"],
input[type="email"] {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  padding: 10px; /* Añade espacio interno para que sea más cómodo escribir */
  margin-bottom: 15px; /* Espaciado debajo de cada input */
  border: 1px solid #ccc; /* Bordes del input */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del input */
}
.submit{
    display: block;
    margin: 0 auto;
}
input[type="submit"]:hover{
    background-color: #E67F0D;
    border: none;
    box-shadow: 6px 6px 8px black;
    color: #ccc;
}

/* pie de pagina */

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu);
    padding: 40px 90px;
}

.iconos{
    margin-top: 15px;
}

.iconos a{
    color: #ccc;
    font-size: 1.5em;
    letter-spacing: 1em;
    transition: color 0.4s ease-in-out;
}

.copy{
    color: azure;
    
}

.copy h4{
    font-size: 1.1em;
}

.copy p{
    font-weight: 300;
    font-size: 0.9em;
}

 .iconos a:hover{
    color: darkblue;

 }
 
 /* media query */

 
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Sección del menú */
    #inicio {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .menu ul li {
        display: block;
        margin: 10px 0;
    }

    /* Sección hero */
    .banner img {
        height: auto;
        width: 100%;
    }

    .title h2 {
        font-size: 1.8em;
    }

    .btn {
        width: 100px;
        padding: 6px;
    }

    /* Sección Sobre Nosotros */
    #sobrenosotros {
        flex-direction: column;
        text-align: center;
    }

    #sobrenosotros .img img {
        margin: 0 auto;
        max-width: 100%;
    }

    .description {
        margin-top: 20px;
        text-align: justify;
    }

    /* Sección del menú */
    .menu-section {
        width: 100%;
        margin: 0;
    }

    .menu-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .price {
        margin-top: 10px;
    }

    /* Sección contacto */
    #contacto {
        width: 90%;
        margin: 8px auto;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .copy {
        margin-top: 20px;
    }

    .iconos a {
        font-size: 2em;
        letter-spacing: 0.5em;
    }
}
